body {
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-size: 13px;
}

li {
  display: inline;
  padding-right: 15px;
}

li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  display: inline-block;

}

.nav-button {
  background-color: #4285f4;
  color: white;
  padding: 7px 12px 7px 12px;
  border-radius: 2px;
  font-weight: bold;

}

.navbar {
  float: right;
}

.logo {
  height: 92px;
  width: 272px;
}

.google-image {
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 200px;
}

.app-image {
  width: 15px;
  height: 15px;
  opacity: 0.55;
  vertical-align: middle;
}

.search-form {
  display: block;
  padding-top: 20px;
  text-align: center;
}

.form-buttons {
  display: block;
  padding-top: 15px;
  text-align: center;
}

.search-button {
  background-color: #f1f1f1;
  border: none;
  color: grey;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
}

.form-input {
  display: inline-block;
  width: 560px;
  height: 40px;
  text-align: center;
  border: 1px solid lightgrey;
  box-shadow: 0px 3px 10px -5px;
}

.form-input:hover {
  box-shadow: 0px 4px 4px -4px;
}

.language-options {
  display: block;
  text-align: center;
  font-size: 13px;
  text-decoration: none;
}

.language-text {
  text-decoration: none;
  color: #1a0dab;
}

.language-text:hover {
  text-decoration: underline;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: left;
  display: flex;
  flex-basis: auto;
  justify-content: space-between;
  width: 100%;
  flex-flow: row;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  color: rgba(0,0,0,.54);
}
